#outer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    div {
        margin: 5px;
    }

    #response-holder {
        // holds the response message area
        border-radius: 5px;
        border: solid;
        width: 30%;
        min-width: 350px;
        padding: 10px;
        min-height: 300px;
        color: rgba(0, 0, 0, 0.54);;
    }

    #previous-holder {
        // holds the previous inquiries selector
        border-radius: 5px;
        width: 30%;
        min-width: 350px;
        padding: 10px;
        height: 554px;
        overflow-y: scroll;
        background-color: white;

        h4 {
            margin-left: 5px;
        }

        .previous-selector {
            color: rgba(0, 0, 0, 0.54);
            padding: 5px;
            border: solid 1px grey;
            border-radius: 3px;
            background-color: white;
            margin-top: 5px;
        }

        .previous-selector:hover {
            cursor: pointer;
            background-color: #e8e8e8;
        }

        .previous-selector:focus {
            background-color: #e8e8e8;
        }
    }
}

#form-holder {
    // everything in here I stole from the mobile Cozi login form
    // but it's not stealing cus development is 'open source'.  
    // holds the form area
    h2 {
        color: #3bbbe9;
        text-align: center;
    }
    background-color: white;
    width: 30%;
    min-width: 350px;
    height: 554px;
    padding: 10px;
    border-radius: 5px;


    #button-holder {
        height: 40px;
        position: relative;
        width: 100%;

        #submit-button {
            position: absolute;
            right: 0px;
            bottom: 0px;
            cursor: pointer;
            width: 80px;
            height: 30px;
        }
    }
}

.control-holder {
    max-width: 430px;
    height: 56px;
    margin-top: 5px;
    display: grid;
    color: rgba(0, 0, 0, 0.54);
    grid-template-columns: 20% 80%;

    :nth-child(1) {
        grid-column: 1/2;
    }

    :nth-child(2) {
        grid-column: 2/3;
        margin-top: 2px;

        input {
            width: 94%;
            height: 35px;
            padding: 8px;
        }

        input:hover {
            background-color: #e8e8e8;
            border: none;
        }

        input:focus {
            background-color: #e8e8e8;
            border: none;
        }

        select {
            height: 51px;
            min-width: 56px;
        }

        select:hover {
            background-color: #e8e8e8;
            border: none;
        }

        select:focus {
            background-color: #e8e8e8;
            border: none;
        }
    }
}

#validation-message {
    margin-top: 5px;
    font-size: 11px;
    color: red;
    float: left;
}